.help-options {
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-dark-l;
  background-color: $color-light-xl;
}

.help-options__wrapper {
  @media (max-width: ($desktop-width - 1px)) {
    padding-right: 39px;
    padding-left: 39px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.help-options__title {
  margin: 0;
  margin-bottom: 60px;
  padding-left: 444px;
  padding-right: 446px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  @media (max-width: ($desktop-width - 1px)) {
    padding-left: 156px;
    padding-right: 154px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    margin-bottom: 40px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 25px;
  }
}

.help-options__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  width: 100%;
  max-width: 1026px;
  display: flex;
  flex-wrap: wrap;
  gap: 55px 120px;
  justify-content: center;

  @media (max-width: ($desktop-width - 1px)) {
    max-width: 630px;
    gap: 53px 60px;
    justify-content: start;
  }

  @media (max-width: ($tablet-width - 1px)) {
    max-width: 290px;
    gap: 30px;
  }
}

.help-options__list-item {
  position: relative;
  display: flex;
  align-items: end;
  width: fit-content;
  min-height: 113px;
  font-family: $second-family;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;

  @media (max-width: ($desktop-width - 1px)) {
    width: 170px;
    justify-content: center;
  }

  @media (max-width: ($tablet-width - 1px)) {
    width: 130px;
    min-height: 87px;
    font-size: 15px;
    line-height: 110%;
  }
}

.help-options__list-item-food::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-pet-food");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-transport::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-transportation");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-toys {
  padding-right: 7px;
  padding-left: 7px;
}

.help-options__list-item-toys::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-toys");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-bowls::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#bowls-and-cups");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-shampoos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-shampoos");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-vitamins::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-vitamins");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-medicine::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-medicines");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-collars::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-collars-leashes");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

.help-options__list-item-sleep-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-sleeping-area");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  @media (max-width: ($tablet-width - 1px)) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}
