.main-container {
  background-color: $color-light-xl;
  color: $color-dark-3xl;
}

.main-container__about,
.main-container__pets,
.main-container__help-options,
.main-container__donations {
  padding-top: 80px;
  padding-bottom: 100px;

  @media (max-width: ($tablet-width - 1px)) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
