.map-coordinats {
  font-family: $second-family;
  color: $color-light-xl;
}

.map-coordinats__title {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  @media (max-width: ($desktop-width - 1px)) {
    margin-bottom: 33px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    margin-bottom: 40px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 25px;
    text-align: center;
  }
}

.map-coordinats__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.map-coordinats__list-item:not(:last-child) {
  margin-bottom: 37px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-primary;

  @media (max-width: ($tablet-width - 1px)) {
    margin-bottom: 44px;
  }
}

.map-coordinats__list-link {
  position: relative;
  width: fit-content;
  padding-left: 42px;
  display: flex;
  justify-content: end;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-primary;
}

.map-coordinats__list-link::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  mask-image: url("../../icons/stack.svg#icon-marker");
  mask-position: left;
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: $color-primary;
}

.map-coordinats__list-link:hover::before {
  background-color: $color-primary-light;
}

.map-coordinats__list-link:hover {
  color: $color-primary-light;
}
