.page-button-toggle {
  @media (max-width: ($tablet-width - 1px)) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 53px;
    display: block;
    width: 30px;
    height: 22px;
    background-color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  &--close {
    @media (max-width: ($tablet-width - 1px)) {
      margin: 0;
      padding: 0;
      border: none;

      position: absolute;
      top: 50%;
      right: 53px;
      transform: translateY(-50%);
      display: block;
      width: 30px;
      height: 30px;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.page-button-toggle__line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  box-shadow:
    0 10px 0 #000000,
    0 20px 0 #000000;
}

.page-button-toggle--close .button-toggle__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 29px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%, -50%) rotate(90deg);
  box-shadow:
    0 10px 0 #000000,
    0 -10px 0 #000000;
}

.page-button-toggle:hover .page-button-toggle__line,
.page-button-toggle--close:hover .page-button-toggle__line {
  background-color: $color-dark-s;
  box-shadow:
    0 10px 0 $color-dark-s,
    0 20px 0 $color-dark-s;
}
