.page-navigation {
  font-family: $font-family;
  background-color: $color-light-xl;
  color: $color-dark-l;
}

.page-navigation__logo-link {
  display: block;
  font-family: $second-family;
  color: $color-dark-l;
  cursor: pointer;
}

.page-navigation__logo {
  margin: 0;
  margin-bottom: 10px;
  font-family: $second-family;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.page-navigation__logo-text {
  margin: 0;
  padding-left: 4px;
  padding-right: 1px;
  font-family: $font-family;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $color-dark-3xl;
}

.page-navigation__logo-link:hover {
  color: $color-dark-3xl;
}

.page-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  margin-left: auto;
  align-items: center;
  column-gap: 36px;

  &--open {
    @media (max-width: ($tablet-width - 1px)) {
      position: fixed;
      top: 90px;
      left: 0;
      z-index: 2;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 100%;
      height: auto;
      padding-top: 158px;
      padding-bottom: 248px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      background-color: $color-light-xl;
    }
  }

  &--close {
    @media (max-width: ($tablet-width - 1px)) {
      position: fixed;
      top: 90px;
      left: 0;
      z-index: 2;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 100vw;
      height: auto;
      padding-top: 158px;
      padding-bottom: 248px;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
      background-color: $color-light-xl;
    }
  }
}

.page-navigation__list-item {
  position: relative;
  font-size: 15px;
  line-height: 160%;
}

.page-navigation__list-item-link {
  display: block;
  padding: 12px 0 17px;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-l;

  &--current {
    cursor: default;
  }
}

.page-navigation__list-item-link:not([class*="--current"]):hover {
  color: $color-dark-3xl;
}

.page-navigation__list-item-link--current::after {
  content: "";
  background-color: $color-primary;
  height: 3px;
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
