.page-navigation {
  font-family: $font-family;
  color: $color-dark-s;
}

.page-navigation__logo-link {
  font-family: $second-family;
  color: $color-primary;
}

.page-navigation__logo {
  margin: 0;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.page-navigation__logo-text {
  margin: 0;
  font-family: $font-family;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $color-light-xl;
}

.page-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-navigation__list-item {
  font-size: 15px;
  line-height: 160%;
}

.page-navigation__list-item-link {
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-s;

  &--current {
    color: $color-light-s;
  }
}
