.pets {
  background-color: $color-light-l;
  color: $color-dark-l;
}

// .pets__wrapper {}

.pets__title {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 100%;
  max-width: 400px;
  font-family: $second-family;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;

  @media (max-width: ($tablet-width - 1px)) {
    width: 300px;
    margin-bottom: 42px;
    font-size: 25px;
  }
}

.pets__catalog-title {
  @media (max-width: ($desktop-width - 1px)) {
    margin-bottom: 30px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    margin-bottom: 42px;
  }
}

.pets__catalog-nowrap {
  white-space: nowrap;
}

.pets__slider-container {
  position: relative;

  @media (max-width: ($desktop-width - 1px)) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pets__slider-window {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: ($tablet-width - 1px)) {
    max-width: 270px;
  }
}

.pets__catalog-slider-window {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 97px;
  overflow: hidden;

  @media (max-width: ($desktop-width - 1px)) {
    justify-content: center;
    align-items: center;
    max-width: 610px;
    max-height: 1365px;
    margin-bottom: 67px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    max-width: 280px;
    margin-bottom: 93px;
  }
}

.pets__list-track {
  display: flex;
  gap: 1px;
  width: 300%;
  transform: translateX(-33.33%);
  position: relative;
}

.pets__slide {
  width: 33.33%;
  //display: flex;
  //justify-content: center;
}

.pets__list {
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 89px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;

  @media (max-width: ($desktop-width - 1px)) {
    gap: 39px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    margin-bottom: 50px;
    gap: 0;
    justify-content: start;
  }
}

.pets__list-catalog {
  flex-wrap: wrap;
  gap: 30px 40px;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.pets__list-item {
  border-radius: 9px;
  background-color: $color-light-s;
  font-family: $second-family;
}

.pets__list-item:hover {
  background-color: $color-light-xl;
}

.pets__image-container {
  width: 270px;
  margin-bottom: 30px;
}

.pets__list-image {
  display: block;
  border-radius: 9px 9px 0 0;
}

.pets__list-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
}

.pets__list-button,
.pets__show-more {
  margin: 0 auto;
  padding: 15px 45px;
  display: block;
  border-radius: 100px;
  font-family: $second-family;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  background-color: inherit;
}

.pets__list-button {
  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid $color-primary;
  margin-bottom: 30px;
}

.pets__list-item:hover .pets__list-button {
  border-color: $color-primary-light;
  background-color: $color-primary-light;
  cursor: pointer;
}

.pets__show-more {
  display: block;
  width: 100%;
  max-width: 262px;
  background-color: $color-primary;

  @media (max-width: ($tablet-width - 1px)) {
    margin-top: 63px;
  }
}

.pets__show-more:hover {
  background-color: $color-primary-light;
}

.pets__slider-control {
  width: 100%;
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;

  @media (max-width: ($tablet-width - 1px)) {
    /* justify-content: space-around; */
    /* top: initial; */
    margin-left: 57px;
    top: auto; //587px;
    justify-content: normal;
    gap: 81px;
    width: fit-content;
  }
}

.pets__pagination {
  position: absolute;
  width: 100%;
  bottom: -114px;
  left: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  @media (max-width: ($desktop-width - 1px)) {
    bottom: -106px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    bottom: -108px;
    gap: 10px;
  }
}

.pets__button-left,
.pets__button-right,
.pets__pagination-left,
.pets__pagination-right,
.pets__pagination-end,
.pets__pagination-start,
.pets__count {
  position: relative;
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background-color: inherit;
  pointer-events: auto;
  cursor: pointer;
}

.pets__count {
  cursor: auto;
}

.pets__button-right::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 6px;
  background-image: url("../../icons/stack.svg#arrow-right");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pets__button-left::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 6px;
  background-image: url("../../icons/stack.svg#arrow-left");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pets__pagination-right::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 23px;
  background-image: url("../../icons/stack.svg#arrow-secondary-right");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pets__pagination-end::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 23px;
  background-image:
    url("../../icons/stack.svg#arrow-secondary-right"),
    url("../../icons/stack.svg#arrow-secondary-right");
  background-position: left center, right center;
  background-repeat: no-repeat;
  background-size: 13px 23px;
}

.pets__pagination-start::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 23px;
  background-image:
    url("../../icons/stack.svg#arrow-secondary-left"),
    url("../../icons/stack.svg#arrow-secondary-left");
  background-position: left center, right center;
  background-repeat: no-repeat;
  background-size: 13px 23px;
}

.pets__pagination-left::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 23px;
  background-image: url("../../icons/stack.svg#arrow-secondary-left");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .pets__button-text {}

.pets__button-left:hover,
.pets__button-right:hover,
.pets__pagination-start:hover,
.pets__pagination-left:hover,
.pets__pagination-end:hover,
.pets__pagination-right:hover {
  background-color: $color-primary-light;
  border-color: $color-primary-light;
}

.pets__pagination-start:disabled,
.pets__pagination-left:disabled,
.pets__pagination-end:disabled,
.pets__pagination-right:disabled {
  background-color: inherit;
  border-color: $color-dark-s;
  cursor: not-allowed;
}
